hr{
    color: #663A21;
    border-width: 2px;
    border-color: #663A21;;
}

body{
    background-color: #FFF9F0;
    justify-content: center;
    overflow-y: scroll;
    font-family: 'DM Sans', sans-serif;
}

.menu{
    justify-self: left;
  
    align-self: left;
    border-style: solid;
}

/* Rectangle 29 */
.rect{
    width: 1037px;
    height: 216px;
    padding: 50px;

    background: #FFFFFF;
    border-bottom: 8px solid #9E896F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

h2{
    font-size: 18px;
    margin-top: 50px;
    font-weight: bold;
    color: #663A21;
}

h1{
    color: #663A21;
    font-size: 30px;
}

.dropdown-menu:active{
    color: #663A21 !important;
}

.dropdown{
    color: #663A21 !important;
}

.dropdown-menu:hover{
    color: #663A21 !important;
}


  .scrolling-wrapper {
    
    
    display: flex;
    align-items: center;
    height: 230px;
    margin-right: 50px;
    padding-left: 15px;
    
    background: #FFFFFF;
    border-radius: 12px;

  
    .card {
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
      border-style: none;
      width: 166px;
    }
  }

  .link-style{
    color: #663A21;
  }

  .deck-head{
    justify-content: right;
    align-items: center;
    padding-top: 50px;
  }

.book-details-popover .popover-body {
    background-color: #fff;
    color: #663A21;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-family:'DM Sans', sans-serif;
  }
  
  .book-details-popover .popover-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 4px;
  }
  
  .book-details-popover .popover-author {
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  .book-details-popover .popover-rating {
    color: #D4AF37;
    font-weight: bold;
    margin-bottom: 12px;
  }
  
  .book-details-popover .popover-summary {
    font-size: 14px;
    margin-bottom: 16px;
  }
  
  .book-details-popover .btn-more-info {
    display: block; /* Make the button fill the width */
    text-align: center;
    background-color:  #663A21;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none; /* If you're using an anchor tag instead */
  }
  
  .book-details-popover .btn-more-info:hover {
    background-color:  #663A21;
  }
