.mainPage{ 
    background-color: #FFF9F0;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
}

.messagesHeading {
    font-family: 'DM Sans', sans-serif;
}

.sidebar {
    display: flex;
    flex-direction: column;
}

.messagesContainer {
    overflow: hidden; /* Disable scrolling for the messages container */
}