.navb{
    height: 114px;
    max-height: 162px;
    background-color: #FFF9F0;
    justify-content: center;
  }

  input::placeholder {
    font-size: 13px;
    color: #663A21;
  }

  .nav-link {
    padding: 5px;
  }

  .icon-contain{
    padding: 5px;
    margin-left: 30px;
    justify-content: space-between;
    width: 250px;
  }

  .profile{
    padding: 5px;
    margin-left: 20px ;
    justify-content:center;
    width: 300px;
    align-items: end;
  }

  img{
    height:auto;
    width:80%;
  }